<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="targetBrowser" value="Chrome"/>
        <add key="operatingSystem" value="Any"/>
        <add key="seleniumHubUri" value="http://localhost:4444/wd/hub"/>
        <add key="screenshotFolder" value="C:\UI_Test_Screenshots\"/>
    </appSettings>
</configuration>