source https://api.nuget.org/v3/index.json
restriction: >= net461

nuget bootstrap 3.3.7
nuget EntityFramework
nuget jQuery
nuget jQuery.Validation
nuget Microsoft.AspNet.Mvc
nuget Microsoft.AspNet.Razor
nuget Microsoft.AspNet.WebPages
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.3.0
nuget Microsoft.jQuery.Unobtrusive.Validation
nuget Microsoft.Net.Compilers
nuget Microsoft.Web.Infrastructure
nuget Modernizr
nuget MySql.Data
nuget MySql.Data.Entity
nuget Shouldly
nuget Selenium.Support 3.3.0
nuget Selenium.WebDriver 3.3.0
nuget NUnit
nuget NUnit.Console
nuget NUnit.ConsoleRunner
nuget structuremap