source https://api.nuget.org/v3/index.json
framework >= net461

nuget Shouldly 2.8.2
nuget Selenium.Support 3.0.1
nuget Selenium.WebDriver 3.0.1
nuget NUnit 3.6.1
nuget NUnit.Console 3.6.1
nuget NUnit.ConsoleRunner 3.6.1