@model IEnumerable<Automation.Database.Model.testsuite>

<div class="panel panel-primary">
    <div class="panel-heading">Tests</div>
    <table class="table">
        <tr>
            <th>Test Suite Name</th>

            <th># of Tests Contained</th>

            <th><!--This column is for the action buttons--></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.testsuitename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.testcases.Count)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                            <span>Delete</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>