@{
    ViewBag.Title = "Dashboard Home Page";
}

<div>
    <div id="content"></div>
</div>

  @*<div class="jumbotron">
    <h2>Automation Dashboard</h2>
    <p class="lead">You can use this simple web app to:</p>
    <ul>
        <li>Add/update test configurations.</li>
        <li>Generate a new App.config file for the automated tests.</li>
        <li>Run automated tests using stored configurations.</li>
        <li>See a history of test run results.</li>
    </ul>
</div>

<hr />

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="@Url.Action("Index", "Settings")" class="thumbnail">
            <img src="images/SeleniumLogoGreen.png" alt="Settings">
            <div class="caption">
                <h3 align="center">Test Configurations</h3>
            </div>
        </a>
    </div>

    <div class="col-xs-6 col-md-3">
        <a href="@Url.Action("Index", "TestResults")" class="thumbnail">
            <img src="images/NunitLogo.png" alt="Test Runs">
            <div class="caption">
                <h3 align="center">NUnit Test Results</h3>
            </div>
        </a>
    </div>

    <div class="col-xs-6 col-md-3">
        <a href="@Url.Action("Index", "TestCases")" class="thumbnail">
            <img src="images/TestcasesLogo.png" alt="Test Cases">
            <div class="caption">
                <h3 align="center">Test Cases</h3>
            </div>
        </a>
    </div>
</div>*@