@model IEnumerable<Automation.Database.Model.testcase>

@{
    ViewBag.Title = "Test Suite Details";
}

@Html.Partial("TestSuitesJumbotron")

<div class="panel panel-primary">
    <div class="panel-heading">Test Cases</div>
    <table class="table">
        <tr>
            <th>Case Id</th>

            <th>Test Case Name</th>

            <th>Description</th>

            <th><!--This column is for the action buttons--></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.testcaseid)</td>

                <td>@Html.DisplayFor(modelItem => item.testcasename)</td>

                <td>@Html.DisplayFor(modelItem => item.testcasedescription)</td>

                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-danger" >
                            <span class="glyphicon glyphicon-trash"></span>
                            <span>Delete</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>