@{
    ViewBag.Title = "Test Runs Page";
}

@Html.Partial("TestrunsJumbotron")

<hr />

<div>
    <a class="btn btn-success" href="@Url.Action("NunitDataExtraction")">
        <i class="glyphicon glyphicon-import"></i>
        <span>Import NUnit test results</span>
    </a>
</div>

<hr />

@Html.Partial("TestrunsTable")