@using Automation.Gui.Controllers

@model IEnumerable<Automation.Gui.Models.testrun>

@{
    ViewBag.Title = "Import Nunit Data Page";
}

<div class="jumbotron">
    <h2>Automation Settings</h2>
    <p class="lead">You can use this page to see the results of old test runs or import the results of a new test run for your Selenium tests.</p>
</div>

<hr />

@if (TestrunsController.ImportSuccessful)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Done!</strong>
        Successfully imported NUnit test results.
    </div>

    <div>
        <a class="btn btn-success disabled" href="@Url.Action("NunitDataExtraction")">
            <i class="glyphicon glyphicon-export"></i>
            <span>Import Nunit test results</span>
        </a>
    </div>
}

@if (!TestrunsController.ImportSuccessful)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Something went wrong!</strong>
        Could not import NUnit test results.
    </div>

    <div>
        <a class="btn btn-success" href="@Url.Action("NunitDataExtraction")">
            <i class="glyphicon glyphicon-export"></i>
            <span>Import Nunit test results</span>
        </a>
    </div>
}

<hr />

@Html.Partial("TestrunsTable")