@using Automation.Gui.Controllers

@model IEnumerable<Automation.Database.Model.testrun>

@{
    ViewBag.Title = "Import Nunit Data Page";
}

@Html.Partial("TestrunsJumbotron")

<hr />

@if (TestrunsController.ImportSuccessful)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Done!</strong>
        Successfully imported NUnit test results.
    </div>

    <div>
        <a class="btn btn-success disabled" href="@Url.Action("NunitDataExtraction")">
            <i class="glyphicon glyphicon-import"></i>
            <span>Import NUnit test results</span>
        </a>
    </div>
}

@if (!TestrunsController.ImportSuccessful)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Something went wrong!</strong>
        Could not import NUnit test results.
    </div>

    <div>
        <a class="btn btn-success" href="@Url.Action("NunitDataExtraction")">
            <i class="glyphicon glyphicon-import"></i>
            <span>Import NUnit test results</span>
        </a>
    </div>
}

<hr />

@Html.Partial("TestrunsTable")