
@{
    ViewBag.Title = "Import Nunit Data Page";
}

<div class="jumbotron">
    <h2>Automation Settings</h2>
    <p class="lead">You can use this page to see the results of old test runs or import the results of a new test run for your Selenium tests.</p>
</div>

<hr />

@Html.Partial("TestrunsTable")

<div>
    <a class="btn btn-success disabled" href="@Url.Action("NunitDataExtraction")">
        <i class="glyphicon glyphicon-export"></i>
        <span>Import Nunit test results</span>
    </a>
</div>