@{
    ViewBag.Title = "Test Cases Page";
}

@section scripts
{
    <script src="~/Scripts/UploadButton.js"></script>
}


@Html.Partial("TestsJumbotron")

<hr />

<div class="input-group">
    <label class="input-group-btn">
        <span class="btn btn-primary">
            Browse&hellip; <input type="file" name="file" style="display: none;" multiple>
        </span>
    </label>
    <input type="text" class="form-control" readonly>
</div>