@{
    ViewBag.Title = "Test Cases Page";
}

@Html.Partial("TestsJumbotron")

<hr />

<div>
    <a class="btn btn-success" href="@Url.Action("ImportTests")">
        <i class="glyphicon glyphicon-import"></i>
        <span>Import test cases</span>
    </a>
</div>

<hr />

@Html.Partial("TestsTable")